*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forgotPass{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, rgb(175, 126, 253), rgb(116, 32, 240));
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.forgotPass .Box{
    width: 450px;
    display: flex;
    padding: 50px 20px;
    border-radius: 12px;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background: url(../../assets/Images/Group\ 11665.png);
}
.forgotPass .Box h1{
    font-size: 2.7rem;
    color: rgb(116, 32, 240);
}
.forgotPass .Box input{
    width: 300px;
    margin: auto;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid white;
    border: 0.3px solid black;
}

#resetButton{
    margin: auto;
    cursor: pointer;
    width: 80px;
    padding: 8px 20px;
    background: linear-gradient(180deg, rgb(175, 126, 253), rgb(116, 32, 240));
    color: white;
    border-radius: 4px;
    border: 1px solid #5f66e3;
    cursor: pointer;
}